---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="I'm a Cyber Security enthusiast and pursuing my Masters from the University of Houston, TX, USA"
	pubDate={new Date('April 06 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Experienced Cybersecurity professional with over 9 years in the Fintech industry, 
		specializing in Information Security, Risk Management, and Third-Party Governance. 
		Skilled in SOC2 compliance, policy baselining, and vendor risk assessments, 
		I excel at driving cross-functional collaboration to implement innovative process 
		improvements that strengthen security posture while aligning with business objectives. 
		Certified in GRCP, CompTIA Security+, and ISC2 Certified in Cybersecurity (CC), I bring 
		a solid foundation in cybersecurity frameworks and governance to every challenge.
	</p>

	<p>
		I'm currently looking for opportunities in the areas of GRC and Cloud Security areas. 
		Hailing from the financial industry background with extensive experience supporting various 
		business and technology functions, I'm really looking forward to making an impact on the GRC area.
	</p>
	<p>
		You may visit my linked in to get in touch with me or access my profile for details.
		Thannk you for taking your time.
	</p>


</Layout>
